@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-mono: var(--font-geist-mono);
  --font-inter: var(--font-inter);
  --font-arabic: var(--font-Arabic);
  --font-heading: var(--font-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) * 0.6);
  --radius-md: calc(var(--radius) * 0.8);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) * 1.4);
  --radius-2xl: calc(var(--radius) * 1.8);
  --radius-3xl: calc(var(--radius) * 2.2);
  --radius-4xl: calc(var(--radius) * 2.6);
  --height-96: 24rem;
  --height-100: 25rem;
  --height-104: 26rem;
  --height-108: 27rem;
  --height-112: 28rem;
  --height-116: 29rem;
  --height-120: 30rem;
  --height-112: 28rem;
  --height-116: 29rem;
  --height-120: 30rem;
  --height-128: 32rem;
  --height-144: 36rem;
  --height-160: 40rem;
  --width-96: 24rem;
  --width-100: 25rem;
  --width-104: 26rem;
  --width-108: 27rem;
  --width-112: 28rem;
  --width-116: 29rem;
  --width-120: 30rem;
  --width-128: 32rem;
  --width-144: 36rem;
  --width-160: 40rem;
  --min-height-96: 24rem;
  --min-height-100: 25rem;
  --min-height-104: 26rem;
  --min-height-108: 27rem;
  --min-height-112: 28rem;
  --min-height-116: 29rem;
  --min-height-120: 30rem;
  --min-height-128: 32rem;
  --min-height-144: 36rem;
  --min-height-160: 40rem;
  --min-width-96: 24rem;
  --min-width-100: 25rem;
  --min-width-104: 26rem;
  --min-width-108: 27rem;
  --min-width-112: 28rem;
  --min-width-116: 29rem;
  --min-width-120: 30rem;
  --min-width-128: 32rem;
  --min-width-144: 36rem;
  --min-width-160: 40rem;
  --max-width-96: 24rem;
  --max-width-100: 25rem;
  --max-width-104: 26rem;
  --max-width-108: 27rem;
  --max-width-112: 28rem;
  --max-width-116: 29rem;
  --max-width-120: 30rem;
  --max-width-128: 32rem;
  --max-width-144: 36rem;
  --max-width-160: 40rem;
  --max-height-96: 24rem;
  --max-height-100: 25rem;
  --max-height-104: 26rem;
  --max-height-108: 27rem;
  --max-height-112: 28rem;
  --max-height-116: 29rem;
  --max-height-120: 30rem;
  --max-height-128: 32rem;
  --max-height-144: 36rem;
  --max-height-160: 40rem;
}

:root {
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: #2b7fff;
  --blue-50: #eff6ff;
  --blue-100: #dbeafe;
  --blue-200: #bedbff;
  --blue-300: #8ec5ff;
  --blue-400: #50a2ff;
  --blue-500: #2b7fff;
  --blue-600: #155dfc;
  --blue-700: #1447E6;
  --blue-800: #193cb8;
  --blue-900: #1c398e;
  --blue-950: #162456;

  --red-50: #fef2f2;
  --red-100: #fee2e2;
  --red-200: #fecaca;
  --red-300: #fca5a5;
  --red-400: #f87171;
  --red-500: #ef4444;
  --red-600: #dc2626;
  --red-700: #b91c1c;
  --red-800: #991b1b;
  --red-900: #7f1d1d;
  --red-950: #450a0a;

  --emerald-50: #ecfdf5;
  --emerald-100: #d0fae5;
  --emerald-200: #a4f4cf;
  --emerald-300: #5ee9b5;
  --emerald-400: #00d492;
  --emerald-500: #00bc7d;
  --emerald-600: #009966;
  --emerald-700: #007a55;
  --emerald-800: #006045;
  --emerald-900: #004f3b;
  --emerald-950: #002c22;

  --yellow-50: #fefce8;
  --yellow-100: #fef9c3;
  --yellow-200: #fef08a;
  --yellow-300: #fde047;
  --yellow-400: #facc15;
  --yellow-500: #eab308;
  --yellow-600: #ca8a04;
  --yellow-700: #a16207;
  --yellow-800: #854d0e;
  --yellow-900: #713f12;
  --yellow-950: #422006;

  --gray-50: #f9fafb;
  --gray-100: #f3f4f6;
  --gray-200: #e5e7eb;
  --gray-300: #cbd5e1;
  --gray-400: #9ca3af;
  --gray-500: #6b7280;
  --gray-600: #4b5563;
  --gray-700: #374151;
  --gray-800: #1f2937;
  --gray-900: #111827;
  --gray-950: #030712;
  --primary-foreground: #ffffff;
  --secondary: #f3f4f6;
  --secondary-foreground: #111827;
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: #00bc7d;
  --accent-foreground: #ffffff;
  --destructive: #ef4444;
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.87 0 0);
  --chart-2: oklch(0.556 0 0);
  --chart-3: oklch(0.439 0 0);
  --chart-4: oklch(0.371 0 0);
  --chart-5: oklch(0.269 0 0);
  --radius: 0.625rem;
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.font-arabic {
  font-family: var(--font-arabic);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: #50a2ff;
  --primary-foreground: #ffffff;
  --secondary: #1f2937;
  --secondary-foreground: #ffffff;
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: #00bc7d;
  --accent-foreground: #ffffff;
  --destructive: #ef4444;
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.87 0 0);
  --chart-2: oklch(0.556 0 0);
  --chart-3: oklch(0.439 0 0);
  --chart-4: oklch(0.371 0 0);
  --chart-5: oklch(0.269 0 0);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground;
  }

  html {
    @apply font-sans;
  }
}